/*#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(138, 83, 83);
  box-sizing: border-box;
  background-color: #c2d8e4;
  border-radius: 8px;
}

#button2 {
  background-color: #174bf7;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-right: 4em;
  border-radius: 8px;
}

#button2:hover {
  opacity: 0.8;
}

#button3 {
  padding-left: 10em;
  background-color: #584d8b;
  color: white;
  padding: 10px 10px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
}

#button3:hover {
  opacity: 0.8;
}

.container {
  padding-top: 7em;
}*/

#signinform {
}

#totalsigninform {
  margin-top: 7em;
  background-color: seashell;
  padding-bottom: 3em;
  padding-top: 2em;
}

#signupbutton {
  background-color: #584d8b;
}
.actual-form {
  margin-bottom: 2em;
}
.google-sign {
  margin-bottom: 100px;
}

#signintitle {
  border-bottom: ridge;
}

.form-with-button {
  margin-bottom: 2em;
  border-bottom: ridge;
}

#signinbutton {
  margin-bottom: 1em;
}

.forgot-password {
  margin-left: 246px;
  margin-bottom: 2em;
}

.sign-up-message {
  margin-right: 240px;
}
