.general-footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  width: 100%;
  position: absolute;
  z-index: 50;
}

#contact,
#about {
  display: inline-block;
}

#contentInFooter {
  padding-right: 40px;
  float: right;
}
