#notSignedIn h1 {
  border-width: 2px 20px;
  border-style: solid;
}

#watchlist {
  padding-top: 3em;

  border-top-style: ridge;
  border-color: #030c13;
}

#movies {
  display: inline-block;
  border-style: ridge;
  border-color: #99bcd6;
}

#movieButton {
  background-color: #07192b;
  height: 3.5em;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  max-width: 220px;
}

#movieButton:hover,
#delete:hover {
  opacity: 0.8;
}

#delete {
  background-color: #cf1e1e;
  margin-bottom: 1em;
  height: 3em;
}

#theWatchedMovie {
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
}

#particles {
}

#image {
  width: 300px;
  height: 200px;
  border: 5px solid rgb(185, 174, 174);
}

#image:hover {
  transform: scale(1.05);
}

.theWLButton {
  background: #3b5a5a;
}

#carousel {
  padding-top: 3em;
  background-color: #394b50;
  border: ridge;
  border-radius: 2em;
}

#popMovies {
  padding-top: 5em;
}

#blurb {
  max-width: 35em;
  border: ridge;
  background-color: seashell;
}

#ALLITEMS {
  position: relative;
}

#bottom {
  position: absolute;
  bottom: 0;
}

#create-account-button {
  margin-bottom: 2em;
}

.intro {
  margin-bottom: 3em;
}

#ALLITEMS {
  position: relative;
}

#without-footer {
  overflow: auto;
  bottom: 0px;
  min-height: 1100px;
}

.body {
  height: 100%;
  display: flex;
}

#app-footer {
  bottom: 0;
  position: relative;
  height: 80px;
  background-color: rgb(238, 235, 230);
}

#info {
  font-family: "copperplate";
}

#suinput {
  display: grid;
}
