#notSignedIn h1 {
  border-width: 2px 20px;
  border-style: solid;
}

#watchlist {
  padding-top: 3em;
  border-bottom-style: ridge;
  border-top-style: ridge;
  border-color: #030c13;
}

#movies {
  display: inline-block;
  border-style: ridge;
  border-color: #99bcd6;
}

#movieButton {
  background-color: #07192b;
  height: 3.5em;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  max-width: 220px;
}

#movieButton:hover,
#delete:hover {
  opacity: 0.8;
}

#delete {
  background-color: #cf1e1e;
  margin-bottom: 1em;
  height: 3em;
}

#theWatchedMovie {
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
}

#all {
  position: absolute;
  width: 100%;
  height: 100%;
}

#particles {
}

#image {
  width: 300px;
  height: 200px;
  border: 5px solid rgb(185, 174, 174);
}

#image:hover {
  transform: scale(1.05);
}

.theWLButton {
  background: #346566;
}

#carousel {
  padding-top: 3em;
  background-color: #287588;
  border: ridge;
  border-radius: 2em;
}

#popMovies {
  padding-top: 5em;
}

#blurb {
  width: 33em;
  border: ridge;
}
