#theMovie {
  padding-left: 1em;
  padding-bottom: 1em;
}

#movieTitle {
  height: 3.5em;
  background-color: #07192b;
  color: #eef2f7;
  max-width: 300px;
}

#movieTitle:hover {
  opacity: 0.8;
}

#image {
  height: 200px;
  width: 300px;
}

#theMovies {
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
  display: inline-block;
}
