#watch,
#watchedDiv {
  display: inline-block;
}

#watch {
  margin-right: 2em;
}

#addWatchList {
  background-color: #7b9c80;
  height: 30px;
}

#watched {
  background-color: #219935;
  height: 30px;
}

#addWatchList:hover,
#watched:hover {
  opacity: 0.8;
}

#everything {
}

#alreadyWatched {
  visibility: hidden;
}

#movieInfoTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 400px;
  background-color: #c8dfda;
  max-height: 100px;
  max-width: 700px;
  overflow: scroll;
}

#ratingTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #c8dfda;
  max-height: 700px;
  max-width: 300px;
  overflow: scroll;
}
