/*#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(138, 83, 83);
  box-sizing: border-box;
  background-color: #c2d8e4;
  border-radius: 8px;
}

#button2 {
  background-color: #174bf7;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-right: 4em;
  border-radius: 8px;
}

#button2:hover {
  opacity: 0.8;
}

#button3 {
  padding-left: 10em;
  background-color: #584d8b;
  color: white;
  padding: 10px 10px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 8px;
}

#button3:hover {
  opacity: 0.8;
}

.container {
  padding-top: 7em;
}*/

#signinform {
  margin-left: 7em;
}

#totalsigninform {
  margin-top: 7em;
  background-color: seashell;
}

#signupbutton {
  background-color: #584d8b;
  margin-left: 2em;
}
