#movieTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 400px;
  background-color: #c8dfda;
  max-height: 350px;
  overflow: scroll;
  display: block;
}

#header {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table,
th,
td {
  padding: 12px 15px;
}

#movieWatched {
  border-bottom: 1px solid #b1a8a8;
}

#giveRating {
  height: 2em;
  width: 7em;
  background-color: #ff000079;
  border-color: black;
  color: white;
  border-radius: 12px;
}

#Total {
  display: inline-block;
}
